@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
/*CONTACTO*/

#contacto, #inicio{
    background-image: url(../images/fondo-contacto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}
nav .active{
    border-radius: 20px;
    border: 1px solid #E20000;
}
#contacto h1,#proyectos h1{
    color: #E20000;
    font-size: 36px;
}
p{
    color: #6a6a6a;
    font-size: 16px;
}
textarea{
    height: 150px;
    resize: none;

}
.btn{
    color: #370a6d;
    background-color: white;
    border-radius: 20px;
}
.btn:hover{
    color: white;
    background-color: #370a6d;
}
.btn-rojo{
    background-color: #E20000;
    color: white;
    border-radius: 20px;
    font-weight: 100;
    padding: 6px 12px;
    font-size: 16px;
    text-decoration: none;
}
.btn-rojo a{
    text-decoration: none;
}
.fa-solid{
    font-weight: 900;
}
#contacto .fa-github ,#inicio .fa-github{
    font-size: 37px;
    height: 40px;
    color: #eee;
}
#contacto .fa-linkedin-in ,#inicio .fa-linkedin-in{
    color: #E20000;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    font-size: 28px;
    margin-left: 10px;
}
footer .fa-whatsapp{
    color: white;
    position: fixed;
    right: 70px;
    bottom: 0px;
    font-size: 31px;
    background-color: #370a6d;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#contacto .link-blanco a ,#inicio .link-blanco a{
    color: white;
    font-weight: 100;
}
#contacto .link-blanco ,#inicio .link-blanco{
    color: white;
    font-weight: 100;
}

/* Proyectos*/
#proyectos{
    background-image: url(../images/fondo-proyectos.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.proyecto{
    background-color: white;
    border: 1px solid #eee;
}
.link-rojo{
    color: #E20000;
}
.proyecto h2{
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    font-weight: 400;
    background: rgb(125, 7, 7);
    background: linear-gradient(90deg, rgba(125, 7, 7, 1) 0%, rgba(215, 11, 11, 1) 100%);
    padding: 8px 16px;
    margin: 0 0 8px;
}
.proyecto p{
    font-size: 14px;
    color: #6a6a6a;
    height: 100px;
    padding: 4px 16px;
}
#proyectos .fa-linkedin-in{
    color: #E20000;
    background-color: white;
    border-radius: 22px;
    padding: 8px 8px 4px 8px;
    font-size: 28px;
    margin-left: 10px;
}
#proyectos .fa-github{
    font-size: 37px;
    height: 40px;
    color: #E20000;
}
#proyectos .footer{
    color: white;
    font-weight: 500;
}
#proyectos .footer a{
    color: white;
    font-weight: 500;  
}
.proyecto img{
    height: 217px;
   
}
/*Sobre mi*/
#bio img{
    border-radius: 50%;
}
#bio .img-fluid{
    height: auto;
    max-width: 100%;
}
#bio .responsive{
    height: 215px;
    max-width: 100%;
}
#stack h2{
    color: white;
    font-size: 24px;
}
#experiencia h2 ,#formacion h2{
    color: #370a60;
    font-size: 24px;
    
}
#stack{
    background: rgb(125, 7, 7);
    background: linear-gradient(90deg, rgba(125, 7, 7, 1) 0%, rgba(215, 11, 11, 1) 100%);
}
#stack .tecnologia i ,#formacion i{
 font-size: 60px;
 color: #6a6a6a;
}
#stack .tecnologia{
    background-color:  white;
    text-align: center;
    border-radius: 5px;
}
#stack h3{
    font-size: 14px;
    color: #282828;
    font-weight: 300;
}
#experiencia h3 ,#formacion h3{
    color: #6a6a6a;
    font-size: 18px;
    font-weight: 600;
}
#experiencia h4 ,#formacion h4{
    font-size: 17px;
    color: #370A6D;
}
#experiencia h5 ,#formacion h5{
    color: #6a6a6a;
    font-size: 14px;
}
#experiencia p ,#formacion p{
    color: #6a6a6a;
    font-size: 16px;
}
#experiencia .img-fluid{
    max-width: 100%;
    height: auto;
}
#experiencia i{
    font-size: 50px;
    color: #6a6a6a;
}
/*otros*/
#otros .card{
    background-color: #370A6D;
    border-radius: 15px;
    padding: 40px 0;
}
#otros{
    background-color: #eee;
}
#otros i{
    font-size: 80px;
    color: white;
}
#otros h2{
    font-size: 16px;
}
#otros ul{
    font-size: 14px;
    color: #282828;
    list-style-type: none;
    padding: 0;
}
#otros .card-otros{
    border-radius: 15px;
    height: 182px;
}
#sobre-mi .card{
    height: 182px;
}
/*Inicio*/
#inicio img{
    height: 400px;
}
#inicio p {
    color: white;
    border: 1px solid white;
    font-weight: 600;
    border-radius: 20px;
    font-size: 17px;
}
#inicio img:hover{
    height: 410px;
}
.div-cohete{
    height: 400px;
}